@import '../../variables';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  display: flex;
  align-items: center;
  min-height: calc(100vh- 100px);
  //justify-content: space-between;
}

p {
  font-size: 32px;
  line-height: 37px;
}

h1 {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contentParallax {
  margin-left: 15px;
}
