.container {
  max-width: 1125px;
  //width: 100%;
  margin: auto;
  font-family: 'Karla', sans-serif;
}
.footer {
  display: flex;
  justify-content: center;
  //margin-bottom: 33px;
}

.text2 {
  margin-left: auto;
}
