$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f2f2f2;
$dark: #212121;

$grassBug: #70a83b;
$darkRock: #a1a1a1;
$iceWater: #a2cff0;
$dragon: #f76545;
$ground: #9b897b;
$electric: #f7c545;
