.hStyle {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 3px;

  margin-top: 73px;
  margin-bottom: 34px;
}

strong {
  font-weight: 800;
}
